In [18]:
import re
import numpy as np
import pandas as pd

In [19]:
#paths 
infile  = "/Users/Hat/OneDrive/511- Data Vis/Education Project/excellent-education-systems/data-analysis/data/student_subset.csv"
outfile_csv  = "/Users/Hat/OneDrive/511- Data Vis/Education Project/excellent-education-systems/data-analysis/data/student_subset_cleaned.csv"

In [20]:
#load
df = pd.read_csv(infile, dtype=str)

In [21]:
# Clean Hisced column
df["HISCED"] = (
    df["HISCED"]
    .astype(str).str.strip()  # ensure strings
    .str.replace("ISCED level", "", case=False, regex=False)  # remove the phrase
)

# Convert "less than ISCED level 1" → 0
df.loc[df["HISCED"].str.contains("less", case=False), "HISCED"] = "0"

# Final: convert numeric-looking strings to integers
df["HISCED"] = pd.to_numeric(df["HISCED"], errors="coerce")

In [27]:
# Clean ST001D01T column
df["ST001D01T"] = (
    df["ST001D01T"]
    .astype(str).str.strip()  # ensure strings
    .str.replace("Grade", "", case=False, regex=False)  # remove the phrase
)

# Final: convert numeric-looking strings to integers
df["ST001D01T"] = pd.to_numeric(df["ST001D01T"], errors="coerce")

In [28]:
df

,CNT,CNTSCHID,CNTSTUID,ST001D01T,AGE,ESCS,HISCED,HISEI,Math,Read,Science,LIFESAT,BELONG,BULLIED,FEELSAFE,STRESAGR,PSYCHSYM,SOCCON,EXPWB,ANXMAT
0,Albania,800282.0,800001.0,10.0,16.0,1.1112,5.0,73.91,223.0351,249.80259999999998,301.26030000000003,NaN,-0.2327,-1.228,1.1246,NaN,NaN,NaN,NaN,0.544
1,Albania,800115.0,800002.0,9.0,16.25,-3.0507,2.0,24.16,308.4938,288.89990000000006,303.53139999999996,NaN,0.5031,1.3336,1.1246,NaN,NaN,NaN,NaN,NaN
2,Albania,800242.0,800003.0,9.0,15.75,-0.1867,3.4,NaN,313.73529999999994,311.7785,323.6492,NaN,NaN,NaN,0.8637,NaN,NaN,NaN,NaN,NaN
3,Albania,800245.0,800005.0,8.0,15.83,-3.2198,1.0,14.82,298.7323,300.77529999999996,210.15020000000004,NaN,0.5159,0.9885,-0.756,NaN,NaN,NaN,NaN,0.5653
4,Albania,800285.0,800006.0,10.0,16.33,-1.0548,3.4,30.11,475.7512,486.66889999999995,466.7572,NaN,0.7639,-1.228,1.1246,NaN,NaN,NaN,NaN,-0.2704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613739,Uzbekistan,86000120.0,86007488.0,9.0,16.08,-2.7487,0.0,28.95,327.0151,312.5706,288.52840000000003,NaN,-1.0817,-1.228,0.6942,NaN,NaN,NaN,NaN,0.8819
613740,Uzbekistan,86000140.0,86007489.0,9.0,15.58,-0.2024,8.0,73.91,286.4383,271.9545,282.68949999999995,NaN,-0.2482,-1.228,-0.756,NaN,NaN,NaN,NaN,NaN
613741,Uzbekistan,86000024.0,86007490.0,10.0,15.92,-2.0506,2.0,25.71,411.8666,330.4373000000001,380.60839999999996,NaN,-0.3261,-0.5168,0.4417,NaN,NaN,NaN,NaN,-0.2907
613742,Uzbekistan,86000174.0,86007491.0,9.0,15.58,-0.129,3.4,75.43,338.1192,353.0499,372.806,NaN,0.5337,-1.228,1.1246,NaN,NaN,NaN,NaN,NaN
613743,Uzbekistan,86000123.0,86007492.0,9.0,16.08,-0.7355,6.0,21.24,390.47439999999995,383.3451999999999,387.9732,NaN,0.7979,-0.391,-0.756,NaN,NaN,NaN,NaN,NaN

In [29]:
df.to_csv(outfile_csv, index=False)